/*===== GOOGLE FONTS =====*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/*===== VARIABLES CSS =====*/

:root {
	--header-height: 3rem;
	/*========== Colors ==========*/
	--first-color: #5785e0;
	--first-color-second: #5785e0;
	--first-color-alt: #4370cb;
	--first-color-lighter: #b9cef8;
	--first-color-lighter-dark: #232529;
	--title-color: #232529;
	--text-color: #6a707c;
	--text-color-light: #9fa3ad;
	--input-color: #eef2fc;
	--body-color: #fbfcfe;
	--container-color: white;
	--white-color: var(--container-color);
	--black-color: black;
	--scroll-bar-color: #e2e4e9;
	--scroll-bar-thumb-color: #c6cad2;
	/*========== FONT & TYPORGRAPHY ==========*/
	--body-font: 'Poppins', sans-serif;
	/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
	--big-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
	--normal-font-size: .938rem;
	--small-font-size: .813rem;
	--smaller-font-size: .75rem;
	/*========== FONT WEIGHT ==========*/
	--font-medium: 500;
	--font-semi-bold: 600;
	/*========== MARGINS ==========*/
	--mb-0-25: 0.25rem;
	--mb-0-5: 0.5rem;
	--mb-0-75: 0.75rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	--mb-2-5: 2.5rem;
	--mb-3: 3rem;
	/*========== Z INDEX ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 1000;
}

/*========== FONT SIZE FOR LARGER SCREENS ==========*/

@media screen and (min-width: 968px) {
	:root {
		--big-font-size: 3rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: .875rem;
		--smaller-font-size: .813rem;
	}
}

/*========== BASE ==========*/

*, ::before, ::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0 0 var(--header-height) 0;
	padding: 0;
	background-color: var(--body-color);
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	color: var(--text-color);
}

h1, h2, h3, ul, p {
	margin: 0;
}

h1, h2, h3 {
	color: var(--title-color);
	font-weight: var(--font-medium);
}

ul {
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 70%;
	height: auto;
}

/*========== CLASS CSS ==========*/

.section {
	padding: 2rem 0;
}

.section__title {
	position: relative;
	font-size: var(--h2-font-size);
	color: var(--first-color-alt);
	font-weight: var(--font-semi-bold);
	text-align: center;
	margin-bottom: var(--mb-1-5);
}

.black {
	color: var(--black-color);
}

/*========== LAYOUT ==========*/

.bd-container {
	max-width: 968px;
	width: calc(100% - 3rem);
	margin-left: var(--mb-1-5);
	margin-right: var(--mb-1-5);
}

.bd-grid {
	display: grid;
	gap: 1.5rem;
}

.l-header {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: var(--z-fixed);
	background-color: var(--body-color);
	box-shadow: 0 -1px 4px rgba(0, 0, 0, .1);
	/* transition: .3s; */
}

.l-main {
	background-color: var(--container-color-alt);
	padding: 1rem;
}

/*========== NAV ==========*/

.nav {
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 968px) {
	.nav__menu {
		position: fixed;
		bottom: -100%;
		left: 0;
		width: 100%;
		padding: 2rem 1.5rem;
		background-color: var(--body-color);
		box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
		border-radius: 1rem 1rem 0 0;
		z-index: var(--z-fixed);
		transition: .3s;
	}
}

.nav__logo {
	z-index: var(--z-fixed);
}

.nav__logo, .nav__toggle {
	color: var(--title-color);
	font-weight: var(--font-medium);
}

.nav__toggle {
	font-size: 1.2rem;
	cursor: pointer;
}

.nav__item {
	text-align: center;
}

.nav__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.nav__link {
	display: flex;
	flex-direction: column;
	font-size: var(--smaller-font-size);
	color: var(--first-color-second);
	font-weight: var(--font-medium);
}

.nav__icon {
	font-size: 1.2rem;
	margin-bottom: var(--mb-0-5);
}

/* Show menu */

.show-menu {
	bottom: var(--header-height);
}

/* Active menu link */

.active-link {
	color: var(--title-color);
}

/*========== HOME SECTION ==========*/

.home {
	grid-template-columns: repeat(1, 1fr);
}

.home__img {
	border-radius: 50%;
	display: block;
	margin: auto;
}

.home___title {
	font-size: var(--big-font-size);
	color: var(--first-color-alt);
	font-weight: 700;
}

.home___subtitle {
	font-size: var(--h2-font-size);
	color: var(--first-color);
	margin: 0;
	position: relative;
}

.home___subtitle::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	margin: auto;
	display: block;
	border-radius: 2rem;
	background-color: var(--first-color-lighter);
	margin-top: var(--mb-3);
}

.home___title, .home___subtitle {
	text-align: center;
}

/*========== ABOUT SECTION ==========*/

.about__me {
	text-align: center;
}

/*========== EDUCATION SECTION ==========*/

.education__container {
	display: flex;
	flex-direction: column;
	row-gap: var(--mb-1);
}

.education__title {
	font-size: var(--h3-font-size);
	color: var(--first-color-second);
}

/*========== SKILLS SECTION ==========*/

.skills__container {
	row-gap: 0;
}

.skills__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: var(--mb-2-5);
	cursor: pointer;
}

.skills__icon, .skills__arrow {
	font-size: 2rem;
	color: var(--first-color);
}

.skills__icon {
	margin-right: var(--mb-0-75);
}

.skills__title {
	font-size: var(--h3-font-size);
}

.skills__list {
	row-gap: 1.5rem;
}

.skills__titles {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: var(--mb-0-5);
}

.skills__name {
	font-size: var(--normal-font-size);
	font-weight: var(--font-medium);
}

.skills__bar, .skills__percentage {
	height: 5px;
	border-radius: .25rem;
}

.skills__bar {
	background-color: var(--first-color-lighter);
}

.skills__percentage {
	display: block;
	background-color: var(--first-color);
}

.skills__html {
	width: 90%;
}

.skills__css {
	width: 80%;
}

.skills__js {
	width: 60%;
}

.skills__angular {
	width: 35%;
}

/*========== EXPERIENCE SECTION ==========*/

.experience__container {
	display: flex;
	flex-direction: column;
	row-gap: var(--mb-1-5);
}

.experience__title {
	margin: 0;
	color: var(--first-color-second);
}

.experience__subtitle {
	color: var(--first-color-alt);
}

.experience__list {
	margin-top: var(--mb-0-5);
}

/*========== CONTACT SECTION ==========*/

.contact__item {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: var(--mb-1);
}

.contact__icon {
	font-size: 1.55rem;
	color: var(--first-color);
}

/* Scroll top */

.scrolltop {
	position: fixed;
	right: 1rem;
	bottom: -20%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.3rem;
	background-color: var(--first-color-lighter);
	border-radius: .4rem;
	z-index: var(--z-tooltip);
	transition: .4s;
	visibility: hidden;
}

.scrolltop__icon {
	font-size: 1.2rem;
	color: var(--first-color);
}

.show-scroll {
	visibility: visible;
	bottom: 5rem;
}

/*========== MEDIA QUERIES ==========*/

/* For small devices, menu two columns */

@media screen and (max-width: 320px) {
	.nav__link {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem .5rem;
	}
	.skills__title {
		font-size: var(--normal-font-size);
	}
}

/* Classes modified for large screen size */

@media screen and (min-width: 968px) {
	body {
		margin: 3rem 0;
	}
	.bd-container {
		margin-left: auto;
		margin-right: auto;
	}
	.l-header, .scrolltop {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.box, .home, .box1 {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 3rem;
	}
	.home {
		justify-items: center;
		align-items: center;
	}
	.home___title, .home___subtitle, .about__me {
		text-align: initial;
		text-align: initial;
	}
	#education .category-container {
		row-gap: 0;
	}
	#education h1 {
		margin: 0;
	}
	.experience {
		grid-row-start: 1;
		grid-row-end: 3;
		grid-column-start: 2;
		grid-column-end: 2;
	}
	#education .category-container {
		align-content: center;
	}
	.img1 {
		position: absolute;
		width: 30%;
		z-index: -1;
		top: 0;
		left: 0;
	}
	.img2 {
		position: absolute;
		width: 30%;
		z-index: -1;
		right: 0;
	}
}