/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

:root {
    /*========== Colors ==========*/
    --first-color: hsl(23, 98%, 68%);
    --first-color-alt: #FF9E60;
    --first-color-light: hsl(23, 98%, 74%);
    --title-color: hsl(23, 5%, 4%);
    --text-color: hsl(60, 5%, 24%);
    --text-color-light: hsl(60, 0%, 44%);
    --container-color: hsl(60, 0%, 98%);
    --container-color-alt: hsl(60, 3%, 94%);
    --body-color: hsl(60, 0%, 99%);
    --white-color: white;
    --icon-color:  hsl(23, 98%, 68%);

    /*  First color lighter dark */
    --first-color-lighter-dark: hsl(23, 8%, 15%);

    /*  Secondary color  */
    --first-color-second: hsl(23, 69%, 61%);

    /* Skill border */
    --skill-rating-border: 2px solid hsl(23, 0%, 20%);

    /* Skill container background color  */
    --skill-rating-background: hsl(23, 0%, 20%);

    /* Skill container border color */
    --skill-rating-border-radius: 5em;

    /* Skill progress backgroind color */
    --skill-rating-progres-background-color: hsl(23, 100%, 60%);

    /* Skill rating bar height */
    --skill-rating-height: .5em;

    /* Date range items gap */
    --date-gap: 0.1em;

    /* Basics profile image height */
    --basics-picture-img-height: 15em;

    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 4rem;
    --bigger-font-size: 3rem;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Width of article logo */
    --article-logo-img-width: 4em;

    --font-medium: 500;
    --font-semi-bold: 600;

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*========== FONT SIZE FOR LARGER SCREENS ==========*/

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 5rem;
        --bigger-font-size: 4rem;
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== BASE ==========*/

*, ::before, ::after {
    box-sizing: border-box;
}

.counter-reset {
    counter-reset: page 1;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    background-color: var(--body-color);
    font-size: var(--normal-font-size);
    color: var(--text-color);
}

h1, h2, h3, ul, p {
    margin: 0;
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    padding: 0;
}

li {
    list-style: circle;
    margin-left: 1.5rem !important;
}

.left li {
    margin-right: 1.5rem !important;
}

a {
    text-decoration: none;
}

img {
    max-width: 70%;
    height: auto;
}

/*========== CLASS CSS ==========*/
section {
    padding: 3rem 0;
}

header {
    display: inline-block;
    font-size: var(--h2-font-size);
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    background-color: var(--first-color-alt);
    text-transform: uppercase;
    padding: .5rem 1rem;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
}

.article__title {
    font-weight: var(--font-semi-bold);
    font-size: var(--h3-font-size);
    color: black;
    margin: 1.5rem 0 0;
}

.wrapper__subtitle {
    font-weight: var(--font-medium);
}

.wrapper__semi-subtitle {
    font-weight: var(--font-medium);
    font-size: var(--h3-font-size);
}

.wrapper__description {
    margin: .5rem 0;
}

.box {
    position: absolute;
    background: #29d297;
    background: linear-gradient(90deg, #29d297 0%, #14d2c3 35%, #00d4ff 100%);
    width: 100%;
    height: calc(90vh - 30vh);
    z-index: -1;
}

.key-value-item {
    display: flex;
    flex-direction: column;
}

.key-list-item {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
}

.label {
    color: black;
    font-weight: var(--font-semi-bold);
}

.list {
    display: flex;
    flex-direction: column;
}

.languages__container {
    row-gap: 1rem;
}

.article__url {
    color: var(--first-color-light);
    font-size: var(--small-font-size);
}

.img-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article__img {
    width: var(--article-logo-img-width);
}

.article__date .date {
    display: flex;
    align-items: center;
    column-gap: var(--date-gap);
}

.article__date .duration {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    -webkit-print-color-adjust: exact;
    text-align: center;
    font-size: var(--small-font-size);
    width: fit-content;
    border-radius: 0.3em;
    margin-bottom: .5rem;
}

.article__list.skills ul {
    display: initial;
    margin-top: .2rem;
}

.article__list.skills li {
    list-style: none;
    display: inline;
}

.article__list.skills li:not(:empty, :last-child):after {
    content: ", ";
}

.skills__progress {
    gap: .25rem;
}

.skills .article__title {
    font-weight: var(--font-semi-bold);
    margin-bottom: 1rem;
}

:is(.skills, .interests, .languages, .certifications) .article-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 1.5rem;
}

.skill-rating {
    margin-top: .3rem;
    -webkit-print-color-adjust: exact;
    height: var(--skill-rating-height);
    background: hsl(23, 100%, 87%);

    overflow: hidden;
    border-radius: var(--skill-rating-border-radius);
    -moz-border-radius: var(--skill-rating-border-radius);
    -webkit-border-radius: var(--skill-rating-border-radius);
    -ms-border-radius: var(--skill-rating-border-radius);
    -o-border-radius: var(--skill-rating-border-radius);
}

.skill-rating .skill-div {
    height: 100%;
    background-color: var(--first-color-second);
    border-radius: var(--skill-rating-border-radius);
    -webkit-border-radius: var(--skill-rating-border-radius);
    -moz-border-radius: var(--skill-rating-border-radius);
    -ms-border-radius: var(--skill-rating-border-radius);
    -o-border-radius: var(--skill-rating-border-radius);
}

/*========== LAYOUT ==========*/

.container {
    max-width: 968px;
    width: calc(100% - 3rem);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/*========== HOME SECTION ==========*/
.home__img {
    display: block;
    width: var(--basics-picture-img-height);
    margin: auto;
    margin-top: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.home__data {
    margin: 1rem 0;
}

.home__title {
    font-size: var(--bigger-font-size);
    font-weight: 700;
    line-height: .9;
    margin-bottom: .5rem;
}

.home__subtitle {
    font-size: var(--h2-font-size);
    margin: 0;
    font-weight: 400;
    letter-spacing: 5px;
}

.home__title, .home__subtitle {
    text-align: center;
}

.information {
    font-weight: var(--font-medium);
    font-size: var(--h3-font-size);
}

.box2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.home__container {
    row-gap: .5rem;
    text-align: center;
}

/* ======================================== ICONS ======================================== */
.profiles__container {
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    /* gap: 2rem 0; */
    justify-items: center;
    align-items: center;
}

.icon {
    font-style: normal;
    margin-right: 0;
    color: var(--icon-color) !important;
}

.profiles .icon {
    font-size: 1.5em;
    color: var(--first-color-lighter);
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}

/* SCROLLBAR THUMB */
::-webkit-scrollbar-thumb {
    background: hsl(23, 51%, 28%);
    border-radius: 10px;
}

/* SCROLLBAR TRACK */
::-webkit-scrollbar-track {
    background: transparent;
}

/* SCROLLBAR THUMB : HOVER */
::-webkit-scrollbar-thumb:hover {
    background: hsl(23, 41%, 38%);
}

/*========== MEDIA QUERIES ==========*/
/* For small devices, menu two columns */
@media screen and (max-width: 320px) {
    .article__url {
        font-size: var(--small-font-size);
    }
}

@media screen and (max-width: 420px) {
    .main {
        padding: .3rem;
    }

    .home {
        padding-top: 0;
    }
}

@media screen and (min-width: 468px) {
    .main {
        padding: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 968px;
        margin: auto;
    }

    .main__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
        column-gap: 2rem;
        margin: 0 auto 5rem;
    }

    .home__title, .home__subtitle {
        text-align: initial;
    }

    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home__wrapper {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 5rem
    }

    .left * {
        margin-right: 0 !important;
        text-align: right !important;
    }

    .left .article__date {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .right * {
        margin-left: 0;
    }

    .left li {
        direction: rtl;
    }
}

/* Classes modified for large screen size */
@media screen and (min-width: 968px) {
    body {
        margin: 3rem 0;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
    }
}

/*~~~~~~~~~~~~~ print ~~~~~~~~~~~~~*/
@media print {
    .main__wrapper {
        grid-template-columns: none;
        max-width: none;
        margin: 0;
        gap: 0;
    }

    .profiles,
    .home {
        display: none;
        user-select: none;
    }

    :is(.skills, .interests, .languages) .article-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .pagedjs_margin {
        font-size: var(--print-margin-font-size);
    }

    /* main margin boxes */
    .footer-print {
        position: running(footerRunning);
    }

    .footer-print a {
        color: black;
    }

    .user-compact-print {
        position: running(userCompactRunning);
    }

    .last-update-print {
        position: running(lastUpdateRunning);
    }

    .available-from-print {
        position: running(availableFromRunning);
    }

    @page {
        size: A4;

        @top-right {
            content: element(lastUpdateRunning);
        }

        @top-left {
            content: element(userCompactRunning);
        }

        @bottom-right {
            content: counter(page);
        }

        @bottom-left {
            content: element(footerRunning);
            width: 40mm;
        }

        @bottom-center {
            content: element(availableFromRunning);
        }
    }


    /* table of contents */
    @page table-of-contents {
        @top-right {
            content: none;
        }

        @top-left {
            content: none;
        }

        @bottom-right {
            content: none;
        }

        @bottom-left {
            content: none;
        }
    }

    .table-of-contents {
        position: relative;
        page: table-of-contents;
    }

    .toc-header {
        margin-bottom: 1rem;
        border-bottom: 0.375rem solid black;
    }

    .toc-icon {
        position: absolute;
        top: .75rem;
        right: .25rem;
        background-color: red;
        font-size: 1.5rem;
        cursor: pointer;
    }

    ol, ul {
        padding-inline-start: 0;
    }

    ol, ul a {
        text-decoration: none;
    }

    .toc-element-level-1 a {
        font-weight: 600;
    }

    .toc-element-level-1 {
        font-size: 0.5cm;
    }

    .toc-element-level-2 {
        font-size: 0.4cm;
        font-weight: 400;
        margin-bottom: .25rem;
    }

    .toc-element-level-1 a, .toc-element-level-2 a {
        color: black;
    }

    #list-toc-generated li {
        margin-left: 0;
        margin: 0;
        width: 100%;
        list-style-type: none;
    }

    #list-toc-generated .toc-element a::after {
        content: target-counter(attr(href), page);
    }

    #list-toc-generated .toc-element-level-1 {
        border-bottom: .0625rem solid black;
        margin-top: 2rem;
        margin-bottom: .75rem;
        padding-bottom: 0.5rem;
        font-weight: bold;
    }

    #list-toc-generated {
        overflow-x: hidden;
    }

    #list-toc-generated .toc-element a {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    #list-toc-generated .toc-element a::after {
        background-color: white;
    }

    .page-break {
        break-after: page;
    }

    /* cover */
    @page: first {

        @top-right {
            content: none;
        }

        @top-left {
            content: none;
        }

        @bottom-right {
            content: none;
        }

        @bottom-left {
            content: none;
        }
    }

    section {
        padding-top: 1.25rem;
    }

    .article-container {
        gap: 0;
    }

    .skills .article-container {
        gap: 1.5rem;
    }

    .cover-page .main-skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4mm;
    }

    .cover-page .main-skills ul {
        display: flex;
        flex-direction: row;
        gap: 0.5cm;
        margin: 0;
        padding: 0;
    }

    .cover-page .main-skills .list__label {
        font-size: var(--h1-font-size);
        color: var(--title-color);
        text-align: center;
        font-weight: 600;
    }

    .cover-page .main-skills li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: var(--normal-font-size);
    }

    .cover-page {
        page: cover-page;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-top: -10rem;
        gap: 2cm;
    }

    .cover-page__main-skills {
        display: flex;
        flex-direction: row;
    }

    .cover-page h1 {
        font-size: var(--big-font-size);
        font-family: var(--body-font);
        line-height: 1;
        margin-bottom: .25rem;
    }

    .cover-page h3 {
        margin: -.75rem 0 .5rem;
        font-weight: var(--font-500);
    }

    .cover-page p {
        font-size: var(--normal-font-size);
    }

    :is(h1,
        h3,
        p,
        .article__list,
        .article__url,
        .article__mail,
        .article__phone) .cover-page {
        -webkit-print-color-adjust: exact;
        color: black !important;
    }

    .cover-page .picture {
        text-align: center;
    }

    .cover-page__header {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 3mm;
        margin-top: 6rem;
    }

    .home__img {
        border-radius: .25rem;
        -webkit-border-radius: .25rem;
        -moz-border-radius: .25rem;
        -ms-border-radius: .25rem;
        -o-border-radius: .25rem;
    }

    .cover-page__contact {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .7rem;
        margin-top: 1rem;
        font-size: var(--smaller-font-size);
        -webkit-print-color-adjust: exact;
        color: black !important;
    }

    .cover-page__contact * {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .3rem;
        color: var(--title-color) !important;
    }

    .cover-page__social {
        display: flex;
        flex-direction: row;
        gap: 2em;
    }

    .cover-page__social .icon {
        -webkit-print-color-adjust: exact;
        color: var(--first-color-alt) !important;
    }

    .cover-page__header .summary {
        text-align: center;
        margin-top: 0.5em;
    }

    /* availability */
    .available-from-print .icon {
        margin-top: 1.5mm;
        margin-left: 1.5mm;
        font-size: 2mm;
        position: absolute;
    }

    .available-from-print.now-available-yes i {
        color: green;
    }

    .available-from-print.now-available-no i {
        color: red;
    }

    header {
        display: inline-block;
        -webkit-print-color-adjust: exact;
        font-size: var(--h2-font-size);
        color: var(--white-color);
        font-weight: var(--font-semi-bold);
        background-color: var(--first-color-alt);
        text-transform: uppercase;
        padding: .5rem 1rem;
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 1rem;
    }

    /* .right {
        order: -1;
    } */
}

/* ======================================== INTERACTIVE ======================================== */
.INTERACTIVE .nav-add {
    margin-top: 1em;
    margin-bottom: 2em;
}

.INTERACTIVE .profiles article {
    padding: 2em 0;
}

.INTERACTIVE .profiles .article-container {
    display: flex;
    flex-direction: column;
}

html:not(.INTERACTIVE) .profiles article .profile-item {
    display: inline-block;
}



/* ======================================== ICONS ======================================== */
.icon {
font-style: normal;
margin-right: 0;
color: var(--icon-color);
}

.icon.twitter:before {
content: "\f099";
}

.icon.github:before {
content: "\f09b";
}

.icon.facebook:before {
content: "\f39e";
}

.icon.instagram:before {
content: "\f16d";
}

.icon.xing:before {
content: "\f168";
}

.icon.behance:before {
content: "\f39e";
}

.icon.dribbble:before {
content: "\f17d";
}

.icon.medium:before {
content: "\f23a";
}

.icon.linkedin:before {
content: "\f08c";
}
  